<%- include('header'); %>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Players</p>
                <div class="list-group">
                    <a href="#" class="list-group-item">Player 1</a>
                    <a href="#" class="list-group-item">Player 2</a>
                    <a href="#" class="list-group-item">Player 3</a>
                </div>
                <div>
                    <!-- <h4><a href="#">Choose Cards</a>
                    </h4> -->
                    <!-- <p>Thank you for stopping by our site. .</p> -->
                    <!-- Split button -->
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary ">Choose Cards</button>
                      <button type="button" id="btn_tick" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                      <%  for(var i=1; i < 21; i++) {   %>
                        <li><a href="/bingo90?cards=<%= i %>"><%= i %></a></li>
                        <%  }  %>
                        


                      </ul>
                    </div>
                </div> 
            </div>
            <div class="col-md-9">
                <div class="row no-gutter table90-container">
                    <%  
                        if(Bingo.cards > 0){
                        for(var i=0; i < Bingo.cards; i++) { 
                        var newNum = Math.floor(Math.random() * 75) + 1;
                    %>
                    <div class="col-sm-6 col-lg-6 col-md-6">
                    <div class="card90">
                    <table class="table90 pattern" id="card_<%= i %>">

                        <tr>
                            <td id="card_<%= i %>_square0">&nbsp;</td>
                            <td id="card_<%= i %>_square1">&nbsp;</td>
                            <td id="card_<%= i %>_square2">&nbsp;</td>
                            <td id="card_<%= i %>_square3">&nbsp;</td>
                            <td id="card_<%= i %>_square4">&nbsp;</td>
                            <td id="card_<%= i %>_square5">&nbsp;</td>
                            <td id="card_<%= i %>_square6">&nbsp;</td>
                            <td id="card_<%= i %>_square7">&nbsp;</td>
                            <td id="card_<%= i %>_square8">&nbsp;</td>
                        </tr>
                        <tr>
                            <td id="card_<%= i %>_square10">&nbsp;</td>
                            <td id="card_<%= i %>_square11">&nbsp;</td>
                            <td id="card_<%= i %>_square12">&nbsp;</td>
                            <td id="card_<%= i %>_square13">&nbsp;</td>
                            <td id="card_<%= i %>_square14">&nbsp;</td>
                            <td id="card_<%= i %>_square15">&nbsp;</td>
                            <td id="card_<%= i %>_square16">&nbsp;</td>
                            <td id="card_<%= i %>_square17">&nbsp;</td>
                            <td id="card_<%= i %>_square18">&nbsp;</td>
                        </tr>
                        <tr>
                            <td id="card_<%= i %>_square20">&nbsp;</td>
                            <td id="card_<%= i %>_square21">&nbsp;</td>
                            <td id="card_<%= i %>_square22">&nbsp;</td>
                            <td id="card_<%= i %>_square23">&nbsp;</td>
                            <td id="card_<%= i %>_square24">&nbsp;</td>
                            <td id="card_<%= i %>_square25">&nbsp;</td>
                            <td id="card_<%= i %>_square26">&nbsp;</td>
                            <td id="card_<%= i %>_square27">&nbsp;</td>
                            <td id="card_<%= i %>_square28">&nbsp;</td>
                        </tr>

                    </table>
                    </div>
                    </div>
                    <%      } 
                        } else {
                        for(var i=1; i < 5; i++) {
                    %>
<div class="col-md-6"><div class="card90" style="height: 130px;">Card <%= i %></div></div>
                    <%  }    } %>
                </div>
            </div>




        </div>
        <!--chat row-->
        <div class="row">
            <div class="col-md-9">
                <div id="rolling_ball" class="card90 ball-container">
                    <!-- <div class="circle"><div class="ball_num "></div></div> -->
                </div>
                <div class="card90" style="height: 360px;">
                    <h1>Chat Container</h1>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card90">
                    <table class="table90-ball-counter" >
                        <tr>
                            <td width="100%" colspan="5" class="counter-ball-th">
                                <b>Balls (<span id="counter_ball">0</span>)</b>
                            </td>

                        </tr>
                        <tr>
                            <td id="counter_ball_1">1</td>
                            <td id="counter_ball_2">2</td>
                            <td id="counter_ball_3">3</td>
                            <td id="counter_ball_4">4</td>
                            <td id="counter_ball_5">5</td>
                        </tr>
                        <tr>
                            <td id="counter_ball_6">6</td>
                            <td id="counter_ball_7">7</td>
                            <td id="counter_ball_8">8</td>
                            <td id="counter_ball_9">9</td>
                            <td id="counter_ball_10">10</td>
                        </tr>
                        <tr>
                            <td id="counter_ball_11">11</td>
                            <td id="counter_ball_12">12</td>
                            <td id="counter_ball_13">13</td>
                            <td id="counter_ball_14">14</td>
                            <td id="counter_ball_15">15</td>
                        </tr>
                        <tr>
                            <td id="counter_ball_16">16</td>
                            <td id="counter_ball_17">17</td>
                            <td id="counter_ball_18">18</td>
                            <td id="counter_ball_19">19</td>
                            <td id="counter_ball_20">20</td>
                        </tr>
                        <tr>
                            <td id="counter_ball_21">21</td>
                            <td id="counter_ball_22">22</td>
                            <td id="counter_ball_23">23</td>
                            <td id="counter_ball_24">24</td>
                            <td id="counter_ball_25">25</td>
                        </tr>
                        <tr>
                            <td id="counter_ball_26">26</td>
                            <td id="counter_ball_27">27</td>
                            <td id="counter_ball_28">28</td>
                            <td id="counter_ball_29">29</td>
                            <td id="counter_ball_30">30</td>
                        </tr>
                        <tr>
                            <td id="counter_ball_31">31</td>
                            <td id="counter_ball_32">32</td>
                            <td id="counter_ball_33">33</td>
                            <td id="counter_ball_34">34</td>
                            <td id="counter_ball_35">35</td>
                        </tr>
                        <tr>
                            <td id="counter_ball_36">36</td>
                            <td id="counter_ball_37">37</td>
                            <td id="counter_ball_38">38</td>
                            <td id="counter_ball_39">39</td>
                            <td id="counter_ball_40">40</td>
                        </tr>
                        <tr>
                            <td id="counter_ball_41">41</td>
                            <td id="counter_ball_42">42</td>
                            <td id="counter_ball_43">43</td>
                            <td id="counter_ball_44">44</td>
                            <td id="counter_ball_45">45</td>
                        </tr>
                        <tr>
                            <td id="counter_ball_46">46</td>
                            <td id="counter_ball_47">47</td>
                            <td id="counter_ball_48">48</td>
                            <td id="counter_ball_49">49</td>
                            <td id="counter_ball_50">50</td>
                        </tr>
                        <tr>
                            <td id="counter_ball_51">51</td>
                            <td id="counter_ball_52">52</td>
                            <td id="counter_ball_53">53</td>
                            <td id="counter_ball_54">54</td>
                            <td id="counter_ball_55">55</td>
                        </tr>
                        <tr>
                            <td id="counter_ball_56">56</td>
                            <td id="counter_ball_57">57</td>
                            <td id="counter_ball_58">58</td>
                            <td id="counter_ball_59">59</td>
                            <td id="counter_ball_60">60</td>
                        </tr>
                        <tr>
                            <td id="counter_ball_61">61</td>
                            <td id="counter_ball_62">62</td>
                            <td id="counter_ball_63">63</td>
                            <td id="counter_ball_64">64</td>
                            <td id="counter_ball_65">65</td>
                        </tr>
                        <tr>
                            <td id="counter_ball_66">66</td>
                            <td id="counter_ball_67">67</td>
                            <td id="counter_ball_68">68</td>
                            <td id="counter_ball_69">69</td>
                            <td id="counter_ball_70">70</td>
                        </tr>
                        <tr>
                            <td id="counter_ball_71">71</td>
                            <td id="counter_ball_72">72</td>
                            <td id="counter_ball_73">73</td>
                            <td id="counter_ball_74">74</td>
                            <td id="counter_ball_75">75</td>
                        </tr>
                        <tr>
                            <td id="counter_ball_76">76</td>
                            <td id="counter_ball_77">77</td>
                            <td id="counter_ball_78">78</td>
                            <td id="counter_ball_79">79</td>
                            <td id="counter_ball_80">80</td>
                        </tr>
                        <tr>
                            <td id="counter_ball_81">81</td>
                            <td id="counter_ball_82">82</td>
                            <td id="counter_ball_83">83</td>
                            <td id="counter_ball_84">84</td>
                            <td id="counter_ball_85">85</td>
                        </tr>
                        <tr>
                            <td id="counter_ball_86">86</td>
                            <td id="counter_ball_87">87</td>
                            <td id="counter_ball_88">88</td>
                            <td id="counter_ball_89">89</td>
                            <td id="counter_ball_90">90</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

<%- include('footer'); %>
<script type="text/javascript">
$( document ).ready(function() {
    var num = <%= Bingo.cards %>;
    $('#btn_tick').attr('disabled','disabled');
    //var pattern = ['TopLine','BottomLine','MiddleLine','TBLine','TMLine','BMLine'];
    var pattern = ['TopLine','BottomLine','MiddleLine'];
    var selected_pattern = pattern[Math.floor(Math.random()*pattern.length)];
    bingo90 = new Bingo90(num, selected_pattern);
    bingo90.newCard();

    var array90 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,
                   21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,
                   41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,
                   61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,
                   81,82,83,84,85,86,87,88,89,90];
    var cnt = 0;
    var stopCounter = setInterval(function(){ 
        cnt++;
        //$('#rolling_ball').html('<div class="circle"><div class="ball_num"></div></div>');
        var bingoballHTML = '<div class="bingoball'+cnt+'"><h3 class="ball_num'+cnt+'"></h3>                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 206.2 206.2">                          <defs>                            <style>                              .ball{isolation:isolate;}.ballcolor{fill:grey;}.cls-3{opacity:0.48;fill:url(#linear-gradient);}.cls-3,.cls-6{mix-blend-mode:screen;}.cls-4{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:4px;}.cls-5{fill:#fff;opacity:0.8;}.cls-6{fill:url(#radial-gradient);}                            </style>                            <linearGradient id="linear-gradient" x1="103.1" x2="103.1" y2="206.2" gradientTransform="rotate(.02 114.612 114.572)" gradientUnits="userSpaceOnUse">                              <stop offset="0" stop-color="#fff"></stop>                              <stop offset="1" stop-color="#2483c5" stop-opacity="0"></stop>                            </linearGradient>                            <radialGradient id="radial-gradient" cx="72.1" cy="64.1" r="53" gradientTransform="rotate(.02 114.612 114.572)" xlink:href="#linear-gradient"></radialGradient>                          </defs>                          <g class="ball">                            <g id="Laag_1" data-name="Laag 1">                              <path d="M206.2 102.2a103 103 0 0 1-104 104C46.2 205.7.5 160 0 104A103 103 0 0 1 104 0c56 .5 101.7 46.3 102.2 102.2z" class="ballcolor'+cnt+'"></path>                              <path d="M206.2 102.2a103 103 0 0 1-104 104C46.2 205.7.5 160 0 104A103 103 0 0 1 104 0c56 .5 101.7 46.3 102.2 102.2z" class="cls-3"></path>                              <path d="M175.3 102.5A72.2 72.2 0 1 1 103.7 31a72.2 72.2 0 0 1 71.6 71.5z" class="cls-4"></path>                              <path d="M169 102.5A66 66 0 1 1 103.8 37a66 66 0 0 1 65.4 65.5z" class="cls-5"></path>                              <path d="M125 63.6A53 53 0 1 1 72.7 11 53 53 0 0 1 125 63.7z" class="cls-6"></path>                            </g>                          </g></div>';
        $('#rolling_ball').append(bingoballHTML);
        var counter_ball= array90[Math.floor(Math.random()*array90.length)];
        var index = array90.indexOf(counter_ball);
        if (index > -1) {
            array90.splice(index, 1);
        }
        //document.getElementById("card_"+i+"_square"  + j).innerHTML = newNum;
        $("#counter_ball_"  + counter_ball).addClass('green');
        $('.ball_num'+cnt).html(counter_ball);

        if(array90.length == 0){
            clearInterval(stopCounter);
            $('#btn_tick').removeAttr('disabled');
            return;
        }
        var colors=["blue","orange","red","green","yellow","pink","aqua","lime","purple",
                    "cyan","brown","grey","darkred","deeppink","gold","indigo"];
 
        jQuery('svg .ballcolor'+cnt).css('fill',colors[~~(Math.random()*colors.length)]);

        animate(cnt);
        bingo90.patternWinner(counter_ball);
        $("#counter_ball").html(cnt);
        if(cnt > 4){
            jQuery('#rolling_ball > div:first-of-type').remove();
            //jQuery('.bingoball'+cnt).addClass('smallball');
        }
     }, 2500);
        //console.log(array75);
    function animate(cnt){
        
        var z = cnt - 1; //console.log(z);
        var y = cnt - 2;
        var x = cnt - 3;
        if(cnt == 1){
            $('.bingoball'+cnt).animate({left: '850px',opacity:'1'}, 500, animate);
        } else if(cnt == 2) {
            $('.bingoball'+cnt).animate({left: '750px',opacity:'1'}, 500, animate);
        } else if(cnt == 3) {
            $('.bingoball'+cnt).animate({left: '650px',opacity:'1'}, 500, animate);
        } else {
            $('.bingoball'+cnt).animate({left: '550px',opacity:'1'}, 500, animate);
            
            console.log(z);
            //$('.bingoball'+z).css('left:650px','-webkit-animation:inherit','animation:inherit', 'transition:inherit');
            $('.bingoball'+z).css('left','650px');
            $('.bingoball'+z).addClass('smallball');
            $('.bingoball'+y).css('left','750px');
            //$('.bingoball1').addClass('smallball');
            $('.bingoball'+x).css('left','850px');
            //$('.bingoball2').addClass('smallball');
        }
    }

});
</script>
